img{
  height:250px;
  width:300px;
}

.articleList{
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  justify-content: center;
}

.p-2{
  padding: 1rem;
  width:100%;
  border: 1px solid rgb(186, 207, 207);
  margin:1rem;
  align-items: center;
}