
body, html {
  margin: 0;
  padding: 0;
  background-color: rgb(247, 243, 243);
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
}

.navBar{
  display: flex;
  align-items: center;
  background-color: rgb(240, 233, 233);
  border-bottom: solid rgb(154, 141, 142);;
  border-top: solid rgb(154, 141, 142);
}

.logo{
  color: red;
  font-size: 30px;
  padding-left: 20px;
  flex-shrink: 0;
}

 ul{
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.navBar li{
 display: inline-block;
 font-size: 20px;
 padding-left: 15px;
 padding-right:30px;
 flex-shrink: 0;

}

.navBar img{
  max-height: 35px;
  max-width: 40px;
  padding-left: 30px;
}

img{
  height:250px;
  width:300px;
}

.homeMain{
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.articleList{
  list-style-type: none;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
}

.articleLink{
  text-decoration: none;
  color: inherit;
}

.articleItem{
  flex: 1;
  padding: 2rem;
  border: 1px solid rgb(186, 207, 207);
  margin:1rem;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
}

.articleItem:hover{
  box-shadow: 10px 10px 5px rgb(155, 179, 179);
}

.topic{
  align-self: top;
}

.comments h2{
  margin-top: 100px;
  padding-top: 15px;
  border-top: 1px solid red
}

.comments{
  display: flex;
  text-align: center;  
  flex-direction: column;
  font-size: 1.1rem;
}

.comments li{
  list-style-type: none;
  align-items: center;
}

.commentItem{
  list-style-type: none;
  flex: 1;
  padding: 2rem;
  border: 1px solid rgb(201, 38, 1);
  margin:1rem;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  max-width: 95%;
}


.articlesTitle{
  text-align: center;
}

.individualArticle{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15px;
  padding: 10px;
  display: flex;
  text-align: center;  
  border: 5px solid black;
  flex-direction: column;
  font-size: 1.3rem;
  border-radius: 50px;

}

.individualArticle li{
  list-style-type: none;
  align-items: center;
}

.articleBody{
 margin-left: 30px;
 text-align: left;
}

.commentsButton{
  padding: 10px;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%
}

.voteCounter{
  box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.3);
  margin-left: 47%;
  margin-right: 47%;
}

.commentForm{
  display: flex;
  flex-direction: column;
}

.postComment{
  width: 60%;
  height: 50px;
  padding-bottom: 10px;
  margin-right: 20px
}

.postComment.error{
  border: solid red;
  color: red;
}

.postComment.error::placeholder{
  color: red;
}

.profileContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top:100px;
  font-size: x-large;
}

.profile{
  border: 3px rgb(205, 143, 143) solid;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: rgb(241, 202, 202);
}

.profile img{
  max-height: 160px;
  max-width: 200px;
  border-top: 1px rgb(205, 143, 143) solid;
  border-bottom: 1px rgb(205, 143, 143) solid; ;
  padding-left: 100px;
  padding-right:100px;
  padding-top: 20px;
  padding-bottom: 20px
}

.deleteButton{
  background-color: yellow;
}

.deleteButton:hover{background-color:orange;}

.deleteButton:focus{background-color:red;}