body, html {
  margin: 0;
  padding: 0;
  background-color: rgb(247, 243, 243);
}

img{
  height:250px;
  width:300px;
}

.homeMain{
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.homeMain h2{
  text-align: center;
}

.articleList{
  list-style-type: none;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
}

.articleItem{
  flex: 1;
  padding: 2rem;
  border: 1px solid rgb(186, 207, 207);
  margin:1rem;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
}

.topic{
  align-self: top;
}

.comments h2{
  margin-top: 100px;
  padding-top: 15px;
  border-top: 1px solid red
}

.comments{
  display: flex;
  text-align: center;  
  flex-direction: column;
  font-size: 1.1rem;
}

.comments li{
  list-style-type: none;
  align-items: center;
}



.commentItem{
  list-style-type: none;
  flex: 1;
  padding: 2rem;
  border: 1px solid rgb(201, 38, 1);
  margin:1rem;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
}


.logo{
  color: red;
  font-size: 20px;
  padding-left: 20px;
  flex-shrink: 0;
}

.navBar{
  display: flex;
  background-color: rgb(240, 233, 233);
  border-bottom: solid rgb(154, 141, 142);;
  border-top: solid rgb(154, 141, 142);
}

.navBar ul{
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.navBar li{
 display: inline-block;
 font-size: 20px;
 width: 20%
}

.articlesTitle{
  text-align: center;
}

.individualArticle{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15px;
  padding: 10px;
  display: flex;
  text-align: center;  
  border: 5px solid black;
  flex-direction: column;
  font-size: 1.3rem;
}

.individualArticle li{
  list-style-type: none;
  align-items: center;
}

.articleBody{
 margin-left: 30px;
 text-align: left;
}

.voteButton{
  border: 5px solid black;
}